h1{text-decoration:underline;}
h1{color:red;}
h2{color:red;}
#div1{background-color:lightpink;border:solid;border-width:3px;border-color:red;}
#div2{background-color:lightblue;border:solid;border-width:3px;border-color:blue;}
h3{color:blue}